@import "../config/constants.scss";

.bc-block-partners {

	.partner-item {
		text-align: center;
		padding: 2rem;
    display: flex;
    max-height: 120px;
    margin-bottom: 80px;
    align-items: center;
    justify-content: center;

		a {
			display: flex;
    		flex-direction: column;
    		justify-content: center;
			height: auto;
		}

		img {
			width: 100%;
			max-height: 120px;
		}

		.caption {
		}
	}
}
